<nav>
  <h3 id="liveScoreLink" style="cursor: pointer;">LiveScoreHub</h3>
    <div class="nav-items">
      <% for (let i = 1; i < 15; i++) { %>
        <% if ( week == i ) { %>
          <a href="/nfl/wk/<%= i %>"
            style="color:yellow"
            > 
        <%}else{%>
          <a href="/nfl/wk/<%= i %>"> 
          <%}%>
          <% if (currentWeek == i) { %>
            <u>
              <%= i %> 
            </u>
          <% }else{%>
            <%= i %> 
          <%}%>
        </a>
      <% } %>
    </div>
    <span></span>
</nav>