<nav>
    <h3>LiveScoreHub</h3>
    <div class="nav-items">
      <% for (let i = 1; i < 15; i++) { %>
        <% if ( week == i ) { %>
          <a href="/<%= i %>"
            style="color:yellow"
            > 
        <%}else{%>
          <a href="/<%= i %>"> 
          <%}%>
          <% if (currentWeek == i) { %>
            <u>
              <%= i %> 
            </u>
          <% }else{%>
            <%= i %> 
          <%}%>
        </a>
      <% } %>
    </div>
    <span></span>
</nav>