<!-- Corrected HTML with single quotes for id attributes -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFL SCORES</title>
    <link href="/CSS/game.css" rel="stylesheet" />
    <link href="/CSS/nav.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <%- include('../Components/nav', { week:matchData[0].week, currentWeek:
      matchData[0].week }) %>
    </header>
    <main>
      <div class="content">
        <%- include('../Components/match',{matchData}) %>
      </div>
    </main>

    <script>

     function goToMatch(gameId){
      window.location.href = `nfl/game/${gameId}`; 
     }

    </script>
    <script src="/Public/match.js"></script>
  </body>
</html>
